.cardheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.actions * {
  margin-left: 20px;
}

.card {
  margin: 10px;
}
.card *{
  overflow: hidden;
}

.titlebox{
  overflow: hidden;
}